html *{
    font-size: 16px;
    box-sizing:border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    min-height: 100vh;
}

/*SECTIONS AND GROUPS*/
#familyTree{
    display: grid;
    grid-template-columns: 1fr;
    gap : 4em;
}

.group{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.progeny{
    gap: 24px;
}

/*CARDS*/
.person{
    flex-grow: 0;
    flex-shrink: 0;
    width: 296px;
    padding: 8px 32px;
    border: 1px solid black;
    text-align: center;
}

.person h2{
    font-size: 1.25em;
}

/*CONNECTIONS*/
.connection{
    background-color: black;
}

.wedding{
    height: 8px;
    width: 48px;
}